.vim/plugged/*
.vim/pack/default/*
.vim/bundle/*
*.bak
*.log
btop/.config/btop/*.log
background
hypr/.config/hypr/background

zsh/.config/zsh/plugins/zsh-autosuggestions/
zsh/.config/zsh/plugins/zsh-syntax-highlighting/

