@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 700;
    min-height: 0;
}

window#waybar {
    background: rgba(24, 24, 37, 0.72);
    color: @text;
    border: 1px solid rgba(180, 190, 254, 0.16);
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.22);
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-height: 0;
    min-width: 0;
    background: transparent;
}

#clock,
#tray,
#custom-media-prev,
#custom-media-play,
#custom-media-next,
#custom-media,
#workspaces,
#pulseaudio,
#backlight,
#cpu,
#memory,
#battery,
#bluetooth,
#network,
#custom-power {
    background: transparent;
    padding: 0 10px;
    margin: 0;
    border: none;
    border-radius: 0;
}

#clock {
    color: @lavender;
    padding-left: 14px;
    padding-right: 12px;
    border-right: 1px solid rgba(180,190,254,0.15);
}

#tray {
    color: @text;
    padding-right: 10px;
}

/* Müzik */
#custom-media-prev,
#custom-media-play,
#custom-media-next {
    color: @lavender;
    padding-left: 4px;
    padding-right: 4px;
}

#custom-media-prev:hover,
#custom-media-play:hover,
#custom-media-next:hover,
#custom-media:hover {
    color: @rosewater;
}

#custom-media {
    color: @lavender;
    min-width: 150px;
    padding-left: 6px;
    padding-right: 12px;
}

#workspaces {
    background: transparent;
    padding-left: 6px;
    padding-right: 6px;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: @surface1;
    border-radius: 999px;
    margin: 0 3px;
}

#workspaces button:hover {
    color: @red;
}

#workspaces button.persistent {
    color: #f9e2af;
}

#workspaces button.active {
    color: @lavender;
    background-color: rgba(180, 190, 254, 0.14);
    box-shadow:
        0 0 0 1px rgba(180, 190, 254, 0.12),
        0 0 10px rgba(180, 190, 254, 0.18),
        0 0 18px rgba(137, 180, 250, 0.10);
}

#workspaces button.default {
    color: @surface1;
}

#workspaces button.empty {
    color: @overlay0;
}

#workspaces button.urgent {
    color: @red;
    background-color: rgba(243, 139, 168, 0.12);
}

/* Sağ taraf */
#pulseaudio {
    color: @mauve;
}

#pulseaudio.muted {
    color: @overlay0;
}

#backlight {
    color: @yellow;
}

#cpu {
    color: @blue;
}

#memory {
    color: @teal;
}

#battery {
    color: @peach;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
}

#bluetooth {
    color: @sapphire;
    padding-right: 6px;
}

#bluetooth.connected {
    color: @sapphire;
}

#bluetooth.disabled {
    color: @overlay0;
}

#network {
    color: @sky;
    padding-left: 6px;
}

#network.disconnected {
    color: @red;
}

#custom-power {
    color: @subtext1;
    padding-right: 14px;
    padding-left: 10px;
}

#custom-power:hover {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
