* {
    font-family: "JetBrains Mono", "Symbols Nerd Font";
}

window {
    background-color: rgba(17, 17, 27, 0.9);
}

button {
    color: #cdd6f4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%; /* İkonlar çok küçük gelirse burayı %40-50 yapabilirsin */
    border: none;
    background-color: #313244;
    margin: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: #cdd6f4;
    color: #11111b;
}

/* Tırnak işaretleri zorunludur! */
#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png");
}
#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png");
}
#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png");
}
#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
}
#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}
#exit {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}
